/* BODY */


body {}


/* HEADER */

body header {
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
    width: 100%;
    top: 0;
    height: 20vw;
    padding-top: 11vw;
    transition: margin-bottom 0.3s ease-in-out;
    border-bottom: none;
}

body #header-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
    flex-wrap: wrap;
    height: 20vw;
    justify-content: space-between;
}

#header-wrapper img {
    flex-wrap: wrap;
    padding-left: 10%;
    width: 40vw;
}

#header-wrapper nav {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

header ul {
    background-color: #031450;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
    margin: 0;
    padding: 1vh;
}

header li {
    width: 100%;
    color: white;
    padding: 0vw 0 0 0;
}

header li a {
    width: 100%;
    color: white;
    font-size: 5vw;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.open_nav {
    display: block;
    width: 10%;
}

.open_nav,
.close_nav {
    text-align: center;
    font-size: 9vw;
    font-weight: bold;
    padding-right: 10vw;
    cursor: pointer;
    z-index: 1;
}

.open {
    height: 100%;
}

#header-nav {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease, opacity 0.5s ease;
    opacity: 0;
    padding-bottom: 0vw;
    z-index: 3;
}

#header-nav.open {
    height: calc(20vw + 20vh);
    opacity: 1;
}

.open_nav,
.close_nav {
    transition: opacity 5s ease;
}

.open_nav {
    opacity: 1;
}

.number {
    width: 100%;
    border-radius: 0;
    font-size: 4.5vw;
    display: flex;
    padding: 1vh;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

/* SECTION */

.wrapper {
    padding: 0;
}

section {
    height: max-content;
    border-radius: 0;
    animation: none;
}

#accueil-2,
#tarifs {
    background-image: none;
}

#contact,
#accueil,
#services,
#mentions {
    background-image: none;
}

/*ACCUEIL*/

#accueil,
.accueil-logo,
.right-corner {
    display: none;

}

#accueil {
    align-items: start;
    display: flex;
    height: max-content;
    margin-top: 0vh;
    height: calc(100vw + 50vh);
    min-height: 60vh;
    /* Adapte la section à la taille de l’écran */
    padding-top: 5vh;
    /* Crée des marges autour pour plus de confort visuel */
    background-color: #03145000;
}

.accueil-wrapper {
    width: 100%;
    padding: 0;
    margin: 0;
    overflow: visible;
    display: flex;
    height: 100%;
    align-items: start;
    justify-content: start;

}

.accueil-services {
    width: 100vw;
    height: auto;
    flex-direction: column;
}

.accueil-block {
    margin: 0;
    padding: 0;
}

.accueil-block,
.accueil-numero {
    transform: rotate(-7deg) translateX(-28vw);
    width: 150vw;
    animation: none;
}

#accueil h2 {
    padding-top: 25px;
    font-size: 7vw;
}

#accueil h3 {
    padding: 5vw;
    font-size: 4vw;
    margin: 0;
}

#accueil ul {
    list-style-type: white circle;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin: auto;
    padding: 2vh 0vh 2vh 2vh;
}

#accueil li {
    font-size: 4vw;
    text-align: center;
    list-style-type: none;
    width: 100%;
    padding: 2px;

}

.accueil-numero {
    display: flex;
    justify-content: center;
    font-size: 6vw;
    padding: 5vw;
    width: 100%;
    margin-top: 2vh;
    animation: none;
    transform: rotate(-7deg) translateX(-20vw);
    width: 120vw;
}

#accueil .corner {
    display: none;
}



/* ACCUEIL 2 */

#accueil-2 {
    height: calc(70vw + 70vh);
    padding: 0;
    display: flex;
    letter-spacing: 0;

}

#accueil-2 img {
    display: none;
}


#accueil-2-wrapper {
    flex-direction: column;
    padding: 5vh 0 00;
    margin: 0 auto;
    align-items: center;
    justify-content: start;
    height: 100%;
}



#accueil-2-text {
    display: none;
}

#accueil-2-text-mobile {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

#accueil-2-text-mobile h2 {
    font-size: calc(5vw + 1vh);
    display: flex;
    justify-content: center;
    align-self: center;
    line-height: 6vw;
    padding: 0;
    margin: 0;
    text-align: center;
    width: 100%;
}

#accueil-2-text-mobile h3 {
    font-size: calc(2.5vw + 1vh);
    width: 100%;
    text-align: center;
}

#accueil-2-text-mobile ul {
    font-size: calc(2vw + 1vh);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 70%;
    margin: auto;
    text-align: center;

}

#accueil-2-text-mobile li {
    color: white;
    list-style-type: disc;
    font-weight: bold;
    text-align: center;

}

#accueil-2-text-mobile p {
    font-size: calc(2vw + 1vh);
    line-height: 6vw;
    width: 90%;
    text-align: center;

}

#accueil-2-numero {
    padding: 3.5vw;
    font-size: calc(2vw + 1vh);
}


/* SERVICES */


#services {}

#services-wrapper {
    width: 95%;
    padding-top: 0vw;
}

#services h2 {
    font-size: calc(5vw + 1vh);
}

#services h3 {
    font-size: calc(3vw + 1vh);
}

.services-logo {
    width: 38vw;
}

.services-logo h4 {
    font-size: calc(1vw + 1vh);
}

.services-logo img {
    width: calc(2.5vw + 0vh);
    height: 2.5vw;
}

.services-localisation {
    width: 90%;
}

.services-container {
    flex-direction: column;
}

.services-container li {
    width: 80%;
    margin-top: 5vw;
}

.services-container li img {
    height: 20vw;
}

.services-container li h5 {
    font-size: 3vw;
}

.services-europe .services-logo img {
    width: 6vw;
    height: 4vw;
}

.services-europe p {
    font-size: 3vw;
}


/* TARIFS */

#tarifs {
    height: calc(75vh + 50vw);
    padding-top: 5vh;
}

#tarifs-wrapper {
    width: 95%;
    line-height: 5vw;
    word-spacing: auto;

}

#tarifs h2 {
    font-size: 8vw;
}

#tarifs-text {
    font-size: calc(1.5vw + 1vh);
    text-align: center;
}

#tarifs-paiement {
    padding-top: 5vw;
}


#tarifs-paiement h3 {
    font-size: calc(2vw + 1vh);
}


#tarifs-paiement ul {
    width: 95%;
    border-radius: 10px;
}

#tarifs-paiement li {
    width: 25%;
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}

#tarifs-paiement li img {
    width: 50px;
    height: 8vw;
    object-fit: contain;
}

#tarifs-paiement li p {
    width: 150px;
    text-align: center;
    font-size: calc(1vw + 0.6vh);

}

/* CONTACT */


#contact {
    height: max-content;

}

#contact-wrapper {
    margin: 2vh auto;
    width: 80%;
}

#contact h2 {
    width: 100%;
    font-size: 8vw;
}

#contactForm {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    font-size: calc(1.8vw + 1vh);
    justify-content: space-between;
    align-items: center;
}

#contactForm input {
    border: 1px solid #031450;
    border-radius: 5px;
    height: 8vw;
    font-weight: 500;
    font-size: calc(1.8vw + 1vh);
}

.form-group {

    width: 100%;
    padding-bottom: 3vh;
}

.form-message textarea {
    height: 30vw;
    font-size: calc(1.8vw + 1vh);

}

#contactForm button {
    margin: 2vh auto;
    padding: 3.5vw;
    text-shadow: 0.5vw 0.4vw rgb(92, 43, 43);
    letter-spacing: 0;
    font-size: 4vw;
}


/* CONFIRMATION */

#confirmation h2 {
    font-size: 6.4vw;
    width: 100%;
}

#confirmation p {
    width: 80%;
    text-align: center;
    font-size: calc(1vh + 2vw);
}

/* MENTIONS */

#mentions {
    height: max-content;
    padding: 0;
    margin-top: 5vh;
    border: 0;
}

#mentions h1{
    font-size: calc(2vh + 2vw);
    width: 100%;
}

.wrapper-mentions{
    padding-top: 0;
    height: max-content;

}






/* FOOTER */


.footer-container {
    font-size: 2.5vw;
    text-transform: uppercase;
}