/* POLICES */

@font-face {
    font-family: 'ITCEras';
    src: url('../assets/itc-eras-ultra/ITC\ Eras\ Bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'ITCEras';
    src: url('../assets/itc-eras-ultra/ITC\ Eras\ Book\ Regular.otf') format('opentype');
    font-weight: 400;
    /* normal */
    font-style: normal;
}

@font-face {
    font-family: 'ITCEras';
    src: url('../assets/itc-eras-ultra/ITC\ Eras\ Demi\ Regular.otf') format('opentype');
    font-weight: 600;
    /* demi-bold */
    font-style: normal;
}

@font-face {
    font-family: 'ITCEras';
    src: url('../assets/itc-eras-ultra/ITC\ Eras\ Light\ Regular.otf') format('opentype');
    font-weight: 300;
    /* light */
    font-style: normal;
}

@font-face {
    font-family: 'ITCEras';
    src: url('../assets/itc-eras-ultra/ITC\ Eras\ Medium\ Regular.otf') format('opentype');
    font-weight: 500;
    /* medium */
    font-style: normal;
}

@font-face {
    font-family: 'ITCEras';
    src: url('../assets/itc-eras-ultra/ITC\ Eras\ Ultra\ Regular.otf') format('opentype');
    font-weight: 800;
    /* ultra bold */
    font-style: normal;
}


/* KEYFRAMES */

@keyframes slide-left {
    from{
        transform: translateX(1000px);
    }
    to{
        transform: translateX(0);
    }
    
}

@keyframes buzz {
    0%{ 
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}




html {
    scroll-behavior: smooth;
}

/* Masque le spinner par défaut */
#spinner {
    display: none;
    width: 50px;
    height: 50px;
    border: 5px solid rgba(0, 0, 0, 0.1);
    border-top: 5px solid #3498db;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}







/* BODY */


body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

ul,
li,
a {
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    color: black;
}

a:active {
    color: white;
}












/* HEADER */

header {
    position: sticky;
    width: 100%;
    background-color: white;
    z-index: 2;
    border-bottom: 0.11vw solid #031450;
}

body #header-wrapper {
    display: flex;
    flex-direction: row;
    width: 85%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    flex-wrap: nowrap;
    box-sizing: border-box;
    height: 8vw;
}

header img {
    width: 18vw;

}

.open_nav,
.close_nav {
    display: none;
}

header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 50%;
    text-transform: uppercase;
}

header ul {
    font-weight: medium;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: calc(1vh + 0.5vw);
}

header li {
    width: 25%;
    text-align: center;
    margin-right: 10px;
    transition: all 0.3s ease;
}

header li:hover{
    transform: scale(1.1);
}

.number {
    background-color: #031450;
    color: white;
    padding: 1vh;
    border-radius: 20px;
    text-align: center;
    width: 20%;
    font-size: calc(1vh + 0.5vw);
}

.number:hover{
    animation: buzz 5s infinite ease-in-out;
}

/* SECTIONS */

section {
    margin: 0 auto;
    padding-top: 8vh;
    /* Pour centrer le contenu horizontalement */
    background-size:cover;
    background-position: center;
    background-repeat: no-repeat;
    box-sizing: border-box;
    /* Pour éviter que padding/border dépassent 100vh */
    overflow: hidden;
    /* Évite les barres de défilement */
    margin: 0;
    /* Évite les marges involontaires */
    display: flex;
    margin-bottom: 0.2vh;
}


#accueil-2,
#tarifs,#confirmation {
    background-image: url(../assets/background\ red\ corner\ 2.png);
}

#contact,
#accueil,
#services,
#mentions {
    background-image: url(../assets/background\ blue\ corner\ 2.png);

}

.wrapper {
    width: 100%;
    margin: auto;
    box-sizing: border-box;
    position: relative;
}

section h2 {
    font-size: calc(1.2vw + 1.2vh);
}










/* PAGE BIENVENUE */

#accueil {
    width: 100%;
    display: flex;
    margin-top: 0vh;
    padding: 0;
    height: 100vh;
}



.accueil-wrapper {
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    text-shadow: 1px 1px black;
}






.accueil-logo {
    position: relative;
    width: 50%;
    box-sizing: border-box;
    animation: slide-left 2s ease-in-out;
}

.accueil-logo img {
    width: 100%;
}

.accueil-services {
    width: 35%;
    font-size: calc(0.8vh + 0.5vw);
    font-family: 'ITCEras';
    color: white;
    font-weight: bold;
    text-transform: uppercase;
}

.accueil-services a,
.accueil-services li {
    color: white;
    font-family: 'ITCEras';
    font-weight: bold;
    text-transform: uppercase;
}

.accueil-block {
    width: 100%;
    text-align: center;
    border-radius: 0.5vw;
}


.blue {
    background-color: #031450;
    animation: left 0.5ms ease-in-out;
}



.red {
    background-color: red;
}


#accueil h2 {
    height: 0.1vw;
    padding-top: 10px;
}

#accueil h3 {
    padding: 1.5vh;
    font-size: calc(1vh + 0.5vw);

}

#accueil ul {
    list-style-type: white circle;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: end;
    margin: auto;
    padding: 1vh 0vh 1vh 2vh;
}

#accueil li {
    font-size: calc(0.8vh + 0.5vw);
    text-align: start;
    list-style-type: disc;
    width: 40%;

}

.accueil-numero {
    display: flex;
    justify-content: center;
    font-size: calc(2vh + 0.5vw);
    letter-spacing: 0;
    padding: calc(0.7vh + 0.5vw);
    width: 80%;
    margin: auto;
    border-radius: 1vw;
    box-shadow: 0.1vw 0.1vw 0.5vw red;
    transition: all 2s ease-in-out;
    animation: buzz 5s infinite ease-in-out;

}



/* PAGE ACCUEIL NUMERO 2 */


#accueil-2 {
    background-color: #031450;
    color: white;
    font-weight: normal;
    letter-spacing: 0.1vw;
}

#accueil-2-wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 90%;
    margin: auto;
    padding: 5vh;
    align-items: center;
    justify-content: center;
}

#accueil-2-text-mobile {
    display: none;
}

#accueil-2 h2 {
    font-family: 'ITCEras';
    font-size: 2vw;
    padding-bottom: 2vh;
    text-align: start;
    padding-left: 2.1vw;
}

#accueil-2 p {
    width: 85%;
    margin: 3vh auto;
    font-size: calc(0.4vw + 1vh);
}

#accueil-2 img {
    width: 30vw;
    height: 42vh;
    object-fit: cover;
    overflow: visible;
    padding-left: 10vw;
    animation: slide-left 2s ease-in-out;

}

#accueil-2-text {
    width: 45vw;
}

p .red-text {
    color: red;
    font-weight: bold;
}

#accueil-2-numero {
    width: auto;
    background-color: red;
    color: white;
    letter-spacing: 0;
    font-family: 'ITCEras';
    font-weight: bold;
    padding: 0.5vw;
    border-radius: 1vw;
    text-shadow: 0.1vw 0.1vw black;
    font-size: calc(0.4vw + 1vh);
    animation: buzz 5s infinite ease-in-out;
}



/*SERVICES*/


#services {
    background-color: white;
    font-family: 'ITCEras';
    text-transform: uppercase;
    display: block;
    height: max-content;
}

#services-wrapper {
    width: 80vw;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}

#services-wrapper h2 {
    text-transform: uppercase;
    color: #031450;
    width: 100%;
    text-align: center;
    margin: 0;
}

#services-wrapper h3 {
    text-align: center;
    width: 50%;
    font-size: calc(0.9vw + 1vh);
    text-transform: uppercase;
    padding-bottom: 1vw;
}

.services-localisation {
    border: 2px solid #031450;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: content-box;
    margin: auto;
    margin-bottom: 4vw;
    width: 80%;
}

.services-logo {
    position: absolute;
    top: calc(-0.4vw - 1vh);
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    box-sizing: content-box;
    background-color: white;
    align-items: center;
    padding: 0vw;
    width: 20vw;
}

.services-logo h4 {
    font-size: calc(1vw + 0.5vh);
    padding: 0;
    margin: 0;
    font-weight: 600;
    color: black;
}

.services-logo img {
    width: calc(1vw + 1vh);
    height: calc(1vw + 1vh);

    padding-left: 1vw;
}

.services-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5%;
}



.services-container li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #031450;
    color: white;
    width: 25%;
    border: 2px solid #031450;
    border-radius: 1vw;
    margin: 0.5vw;
}


.services-container li img {
    width: 100%;
    height: calc(5vw + 5vh);
    object-fit: contain;
    background-color: white;
    border-radius: 1vw 1vw 0 0;
}


.services-container .services-fit {
    background-color: black;
}

.services-container li h5 {
    text-align: center;
    width: 100%;
    font-size: calc(0.6vw + 0.5vh);
    margin: 0;
    height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(./assets/background\ red\ corner.png);
    background-size: cover;
}


.services-europe {
    width: 50vw;
}

.services-europe .services-logo img {
    width: 3vw;
    height: 2vw;
}

.services-europe li {
    width: 85%;
}

.services-europe li img {
    width: 100%;
    height: calc(10vw + 1vh);
}

.services-europe p {
    font-weight: bold;
    font-size: 0.9vw;
    margin: 0;
    width: 95%;
    text-align: end;
}





/* TARIFS */

#tarifs {
    color: white;
    width: 100%;
    background-color: #031450;
    height: fit-content;
    padding-bottom: 8vh;
}

#tarifs-wrapper {
    width: 70%;
    margin: 0 auto;
    line-height: 2vw;
    word-spacing: 0.01vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}



#tarifs h2 {
    text-transform: uppercase;
    color: white;
    width: 100%;
    text-align: center;
}

#tarifs h2,
#tarifs h3 {
    font-family: 'ITCEras';
    text-transform: uppercase;
    color: white;
}

#tarifs-text {
    font-size: calc(1vw + 0.6vh);
}


#tarifs-paiement {
    width: 100%;
    padding-top: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#tarifs-paiement h3 {
    font-size: calc(0.8vw + 0.8vh);
}

#tarifs-paiement ul {
    width: 60%;
    border-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #f5f5f5;

}

#tarifs-paiement li {
    width: 10vw;
    height: 7vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    font-weight: bold;
}

#tarifs-paiement li img {
    width: 3.5vw;
    height: 2.8vw;
    object-fit: contain;
}

#tarifs-paiement li p {
    width: 10vw;
    text-align: center;
    font-size: calc(0.4vw + 0.6vh);

}




/*CONTACT*/

#contact {
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
}

#contact-wrapper {
    margin: 8vh auto;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-sizing: content-box;
    font-family: 'ITCEras';
    font-weight: 600;
}

#contact h2 {
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    font-family: 'ITCEras';
    color: #031450;
}

#contactForm {
    width: 45vw;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    font-size: calc(0.5vw + 1vh);
    justify-content: space-between;
    align-items: center;
}

#contactForm input {
    border: 1px solid #031450;
    border-radius: 5px;
    height: 1.5vw;
    font-weight: 500;
}

.form-group {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 0.5vw;
}


.form-phone,
.form-mail,
.form-message {
    width: 100%;
}

.form-message textarea {
    height: 6vw;
    border-radius: 5px;
}

#contactForm button {
    margin: auto;
    padding: 1vw;
    background-color: red;
    font-family: 'ITCEras';
    color: white;
    font-weight: 600;
    border: 1px solid #031450;
    border-radius: 5px;
    text-transform: uppercase;
    text-shadow: 0.05vw 0.05vw black;
    letter-spacing: 2px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #0056b3;
}


/* CONFIRMATION */ 

#confirmation{
    background-color: #031450;
    color: white;
    height: 100vh;
}


#confirmation-wrapper{
    width: 90%;
    margin: 0 auto;
    height: max-content;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

#confirmation h2{
font-size: 2vw;
width: 100%;
text-align: center;

}

#confirmation p{
    width: 80%;
    text-align: center;
    font-size: 1vw;
}

#confirmation a{
    color: red;
    font-weight: bold;
    text-decoration: underline;
}














/* PAGE MENTIONS */

.wrapper-mentions {
    width: 100%;
    box-sizing: content-box;
    padding-top: 10vh;
    height: 110vh;

}

#mentions {
    width: 85%;
    margin: auto;
    font-size: calc(1vh + 0.4vw);
    line-height: 2vh;
    margin-bottom: 5vw;
    padding: calc(3vw + 1vh);
    border: 2px solid #031450;
    border-radius: 10px 0;

}

#mentions h1 {
    width: 100%;
    text-align: center;
    font-size: calc(3vh + 0.5vw);
    font-family: 'ITCEras';
    text-transform: uppercase;
    font-weight: bold;
    color: #031450;
    height: calc(1vw + 1vh);
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 2.5vw;
}

#mentions h2 {
    padding-top: 15px;
}

#mentions ul {
    padding-top: 5px;

}

#mentions li p {
    margin: 0;
    padding: 0;
}




/* FOOTER */


footer {

    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    justify-content: center;
    box-sizing: content-box;
    padding: 2vh 0px;
    z-index: 3;
}

.footer-container {
    width: 70%;
    color: white;
    letter-spacing: 1px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    box-sizing: content-box;
    font-size: 1vw;
    z-index: 3;

}


.footer-bar {
    padding: 0px 10px;
}

.footer-mentions {
    color: red;
    text-decoration: underline;
}

.snapchat {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-family: 'ITCEras';
    font-weight: bold;
}

.snapchat {
    color: white;
}



footer img {
    width: 20px;
    height: 20px;
    padding-right: 5px;
}

footer a {
    color: white;
    font-weight: bold;
}