header {
    height: 10vh;
    display: flex;
    align-items: center;

}






#accueil-wrapper {
    margin: 0;
}

.accueil-logo {
    display: none;
}

.accueil-services {
    width: 70%;
}

.accueil-block {
    height: 10vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 0;
}

.accueil-block h2 {
    width: 100%;
    font-size: calc(3vh + 0.5vw);
    margin: 0;
    height: 100%;
}

#accueil h3 {
    width: 100%;
    margin: 0;
    font-size: calc(1vh + 1vw);
    padding: 0;
    height: fit-content;

}

#accueil ul {
    width: 100%;
}

#accueil li {
    font-size: 1.8vh;
    width: 100%;
    text-align: center;
    list-style: none;
}

.accueil-numero {
    margin-top: 1vh;
    font-size: 3vh;
}



/* ACCUEIL 2 */


#accueil-2 img {
    display: none;
}

#accueil-2-wrapper {
    flex-direction: column;
    width: 100%;
    padding: 0 0 10vh;
    height: fit-content;

}

#accueil-2-text {
    width: 90%;
}

#accueil-2 h2 {
    font-size: 3.5vh;
    width: 100%;
    text-align: center;
    padding-left: 0;
}

#accueil-2 p {
    font-size: calc(1vw + 1vh);
    text-align: center;
}

#accueil-2-numero {
    padding: 1vw;
    font-size: calc(1vw + 1.5vh);
}



/* SERVICES */

#services {
    padding-bottom: 5vh;
}

#services-wrapper h2 {
    font-size: 3.5vh;
}

#services-wrapper h3 {
    font-size: 2.5vh;
}

.services-localisation {
    width: 100%;
}

.services-logo {
    width: 40%;
}

.services-logo h4 {
    font-size: calc(1vw + 1vh);

}


.services-container li {
    width: 45%;
    margin: 1vw;
}

.services-container li img {
    height: calc(5.5vw + 5.5vh);

}

.services-container li h5 {
    font-size: calc(1vw + 0.7vh);
}

.services-europe .services-logo img {
    width: 6vw;
    height: 4vw;
}

.services-europe li img {
    height: calc(10vw + 5vh);

}

.services-europe li {
    width: 70%;
}

.services-europe p {
    font-size: 1.5vw;

}


/* TARIFS */


#tarifs {
    height: 90vh;
}

#tarifs h2 {
    font-size: 3.5vh;
}

#tarifs-text {
    font-size: calc(1vw + 1vh);
    line-height: 3vh;
    text-align: center;
}

#tarifs-paiement ul {
    width: 100%;
}

#tarifs-paiement li {
    width: 24%;
    height: 10vh;
}

#tarifs-paiement li img {
    width: 10vw;
    height: 3vw;
}

#tarifs-paiement li p {
    width: 20vh;
    font-size: calc(1vw + 0.4vh);
    height: 2vh;

}



/* CONTACT */

#contact {
    height: fit-content;
    padding-bottom: 16vh;
}


#contact h2 {
    font-size: 3.5vh;
}

#contact-wrapper {
    width: 90%;
}

#contactForm {
    width: 80%;
    font-size: calc(1.5vw + 1vh);
}

#contactForm input {
    font-size: calc(1.2vw + 1vh);
    height: 5vw;
}

.form-message textarea {
    height: 20vw;
    border-radius: 5px;
}


#contactForm button {
    margin-top: 5vh;
    font-size: 2.5vw;
    padding: 2vw;
}

/* CONFIRMATION */

#confirmation {
    padding-top: 0;
    height: 80vh;
    align-items: center;
}


#confirmation h2 {
    font-size: 3.5vw;
}

#confirmation p {
    font-size: 2vw;
}

/* MENTIONS */

.wrapper-mentions {
    padding-top: 5vh;
}


/* FOOTER */

footer p,
footer a {
    font-size: 1vh;
}